.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 100%;
    border: 2px solid #0c0c0c;
    border-radius: 10px;
    margin: 50px;
}
.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #413f3f;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.image {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.userName {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}
.tag {
    font-size: 30px;
    color: #696666;
    margin: 0;
    margin-bottom: 10px;
}
.list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-top: 2px solid #696666;
    border-right: 2px solid #696666;
    width: 120px;
    height: 100px;
    box-sizing: border-box;
}
.item:last-child {
    border-right: none;
}
.label {
    
    font-size: 25px;
}

.value {
    font-size: 25px;
    font-weight: bold;
}